.card-largura {
    max-width: 22rem;
}

.imagem-carrossel1 {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel2 {
    object-fit: cover;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Shantell Sans', cursive;
}

.cor-especial {
    color: rgba(35, 222, 41, 0.786)!important;
}

.botao-cor-especial {
    background-color: rgba(35, 222, 41, 0.786);
    color: white;
}

.borda-cor-especial {
    border: 3px solid rgba(35, 222, 41, 0.786);
    border-radius: 10px;
}

.card-posicao-imagem {
    object-fit: cover;
    /* object-position: 0 80%; */
    height: 200px;
}